.row {  
    display: flex;
    margin-top:-15px;
    margin-bottom: -15px;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: space-between;
    }
    .col-md-6 {
      margin-bottom: 2%;
      flex: 0;
      max-width: 100%;
      min-inline-size: max-content;
    }