<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="{{ url_for('static', filename='footer.css') }}">

    <div class="footer-dark">
        <footer>
            <div>
                    <div class="col item social">
                        <a href="https://www.facebook.com/xavi.ban"><i class="icon ion-social-facebook"></i></a>
                    <a href="https://www.twitter.com/xavi.ban"><i class="icon ion-social-twitter"></i></a>
                    <a href="https://www.snapchat.com/xavi.ban"><i class="icon ion-social-snapchat"></i></a>
                    <a href="https://www.instagram.com/nhatez"><i class="icon ion-social-instagram"></i></a>
                </div>
                <p class="copyright">ESTABLISH © 2021 INTERNSHIP</p>
            </div>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">


</html>