<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <!-- Somehow I got an error, so I comment the title, just uncomment to show -->
    <!-- <title>Login & Signup Form | CodingNepal</title> -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='updatepsw.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    

    <title>Login</title>
</head>

<body>
    <div class="wrapper">
        <div class="title-text">
            <div class="title login">
                CTS</div>
            <div class="title signup">
                CTS</div>
        </div>

        <div class="form-container">
            <div class="form-inner">
                </form>
                <form action="" class="signup" method="POST">
                    <p style="visibility: hidden;"> hello{{email}}</p>
                    <p style="visibility: hidden;">{{token}}</p>
                    <h3>Link xác nhận đã được gởi tới Gmail của bạn. </h3>
                    <h3>Vui lòng truy cập Gmail để xác nhận đường link này</h3>
                    <br><br>
                    <li><a href="/logout">Quay lại đăng nhập</a></li>


                </form>

            </div>
        </div>
    </div>
</body>

</html>