<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
<style>
  
</style>
<head>
  <meta charset="utf-8">
  <!-- Somehow I got an error, so I comment the title, just uncomment to show -->
  <!-- <title>Login & Signup Form | CodingNepal</title> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='updatepsw.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <title>Login</title>
</head>

<body>
  <div class="wrapper">
    <div class="title-text">
      <div class="title login">
        CTS INTERNSHIP </div>
      <div class="title signup">
        CTS </div>
    </div>

    <div class="form-container">
     Cập nhập mật khẩu của:<b>{{email}}</b>
      <div class="form-inner">
        </form>
        <form action="" class="signup" method="POST">
          <p></p>
          <div class="field">
            <input type="password" name="password" placeholder="Mật khẩu" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Mật khẩu phải chứa ít nhất một số, một kí tự hoa, kí tự thường và tối thiếu 8 kí tự">
          </div>
          <div class="field">
            <input type="password" name="pass_confirm" placeholder="Xác nhận mật khẩu">
          </div>
          <div class="field btn">
            <div class="btn-layer"></div>
            <input type="submit" value="Xác nhận" data-toggle="modal" data-target="#myModal">
          </div>
          {% if error %}
          <p style="color: red;"><strong>Thông báo:</strong> {{ error }}
          {% endif %}
        </form>

      </div>
    </div>
  </div>
</body>

</html>
