{% extends 'layout.html' %} {%include 'header.html'%} {% block content %}
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Employee Management</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='usermanagement.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='snackbar.css') }}">

</head>

<body>
    <form action="#" method="POST" class="form-group">
        <div>
            <div>
                <div class="table-wrapper">
                    <div class="table-title">
                        <div class="row" style="margin-top: 55px;display:flex; justify-content: space-between;">
                            <div style="padding-left:1%">
                                <h1 style="font-size: 50px; font-weight: 700; color: red">MAG</h1>
                            </div>
                            <div>
                                <h1 align="center" style="font-size: 30px; font-weight: 100; color: red">QUẢN LÍ NHÂN VIÊN
                                    </h1>
                            </div>
                            <div style="padding-right:5%">
                                <a style="color: green; font-size:250%" href="{{ url_for('.download_report') }}"
                                    title="Xuất file Excel">
                                    <i class="fas fa-file-excel"></i></a>
                            </div>
                        </div>
                        <div class="row">
                            <p style="margin-left:91.5%">Xuất file Excel</p>
                        </div>
                    </div>
                    <div class="form-group" style = "display: flex; justify-content: center;">
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        {% for message in messages %}
                        <div id="snackbar">{{message}}</div>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}
                    </div>
                    <table id="example" class="table table-striped table-hover table-bordered">
                        <thead>

                            <tr style="text-align: center">
                                <th>STT</th>
                                <th>Tên</th>
                                <th>Điểm<i class="fa fa-sort"></i></th>
                                <th>Trạng thái<i class="fa fa-sort"></i></th>
                                <th>Tác vụ</th>
                            </tr>
                        <tbody>
                            {% for  a in data1 %}
                            <tr>

                                <td style="text-align: center">{{a.6}}</td>

                                <td>{{a.1}}</td>
                                <td style="text-align: center">{{a.5}}</td>
                                {% if a.4 == 1  %}
                                <td style="text-align: center">Hoạt Động</td>
                                {% endif %}
                                {% if a.4== 0 %}
                                <td style="text-align: center">Không Hoạt Động</td>
                                {% endif %}

                                <td style="text-align: center">
                                    <a href="/missionsearch/{{a.0}}" class="view" title="Xem"><i
                                            class="material-icons">remove_red_eye</i></a>
                                    {%if a.4==1%}
                                    <a href="/blockuser/{{a.0}}"
                                        onclick="return confirm('Bạn có muốn khóa tài khoản này?')" class="delete"
                                        title="Khóa tài khoản"><i class="fas fa-user-lock"></i></a>
                                    {%elif a.4==0%}
                                    <a href="/unlockuser/{{a.0}}"
                                        onclick="return confirm('Bạn có muốn mở khóa tài khoản này?')" class="delete"
                                        title="Mở khóa tài khoản"><i class="fas fa-unlock"></i></a>
                                    {%endif%}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>

                    </table>
                    {% if succ %}
                    <p style="color: rgb(30, 255, 0)">
                        <strong>Alert:</strong> {{ succ }} {% endif %} {% if ac %}
                    </p>

                    <p style="color: rgb(255, 0, 0)">
                        <strong>Alert:</strong> {{ ac }} {% endif %}


                    </p>


                </div>
            </div>
        </div>
    </form>
</body>
<script>
    $(function () {
        var x = document.getElementById("snackbar");
        x.className = "show";
        setTimeout(function () {
            x.className = x.className.replace("show", "");
        }, 3000);
    })
</script>
</html>
{% endblock %}
